body {
  align-content: center;
  background-color: darkgray;
}

.container {
  background-color: white;
  width: 37rem;
  margin: 5rem auto;
  border-radius: 10px;
  padding: 2rem 1rem;
  align-content: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0 2.5rem;
}

.view-field {
  background-color: #efefef;
  font-family: monospace;
  border-radius: 5px;
  width: 35rem;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  height: 18rem;
  overflow-y: scroll;
}

pre {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1rem 2.5rem;
}
